.card {
    position: absolute;
}

.hand-div {
    height: 170px;
}

.headers {
    margin-left: 20%;
    font-size: larger;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}